<section id='vboard'></section>

<% content_for :script do %>
	<script type="text/javascript">

		    document.addEventListener('DOMContentLoaded', function() {
		      //all our code here
		      var vboard = document.querySelector('#vboard');
		      var stage = new Kinetic.Stage({container: vboard, width: $("#vboard").width(), height: 500});
		      var base_layer = new Kinetic.Layer();
		      stage.add(base_layer);
		      
		      

		    }, false);
			

			





		</script>
<% end %>